# .gitignore
.streamlit/secrets.toml
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# PyCharm specific
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
